{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Done{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h4 class="alert-heading">Password Reset..!!</h4>
            <p>An Email has been sent to your registered Email Id, Kindly set new Password Using The Link Provided in
            the Mail. <b>Check Your Email</b></p>
        </div>
    </div>
</div>
{% endblock main-content %}